h1{
    color: blue;
}

#header{
    width:100%;
}
#addBuilding, #getOneBuilding, #buildingList, #roomList{
    width: 45%;
    display: inline-block;
    border: 1px solid black;
    float: left;
    margin-top:20px;
}
#break{
    clear: both;
}