<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Buildings</title>
    <link rel="stylesheet" th:href="@{CSS/style.css}" />
</head>
<body>
<div id="header">
    <h1>Buildings</h1>
</div>
<div id="addBuilding">
    <form method="POST" action="#" th:action="@{/saveBuilding}">
        <label>Name:</label>
        <input type="text" name="name" /> <br />
        <label>Address:</label>
        <input type="text" name="address" /> <br />
        <label>Number of Floors</label>
        <input type="number" name="numFloors" /><br />
        <label>Number of Rooms</label>
        <input type="number" name="numRooms" /><br />
        <input type="submit" value="Add Building" />
    </form>
</div>
<div id="getOneBuilding">
    <form method="post" action="#" th:action="@{/getOneBuilding}" >
        <input type="text" name="id" />
        <input type="submit" value="Get One" />
    </form>
    <span th:text="${getOneBuilding}"></span>
</div>
<div id="buildingList">
    <ul th:each="buildingId : ${buildings}">
        <li>
            <span th:text="${buildingId.name}">Name</span>
            <span th:text="${buildingId.address}">Address</span>
            <span th:text="${buildingId.id}">Id</span>
            <form method="POST" action="#" th:action="@{/deleteBuilding}">
                <input type="hidden" name="id" th:value="${buildingId.id}" />
                <input type="submit" value="Delete" />
            </form>
        </li>
    </ul>
</div>
</body>
</html>