<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Buildings</title>
    <link rel="stylesheet" th:href="@{CSS/style.css}" />
</head>
<body>
<div id="header">
    <h1>Buildings</h1>
</div>
<div id="addBuilding">
    <h3>Add Building</h3>
    <form method="POST" action="#" th:action="@{/saveBuilding}">
        <label>Name:</label>
        <input type="text" name="name" /> <br />
        <label>Address:</label>
        <input type="text" name="address" /> <br />
        <label>Number of Floors</label>
        <input type="number" name="numFloors" /><br />
        <label>Number of Rooms</label>
        <input type="number" name="numRooms" /><br />
        <input type="submit" value="Add Building" />
    </form>
</div>
<div id="getOneBuilding">
    <h3>Get One Building</h3>
    <form method="post" action="#" th:action="@{/getOneBuilding}" >
        <input type="text" name="id" />
        <input type="submit" value="Get One" />
    </form>
    <span th:text="${getOneBuilding}"></span>
    <ul th:each="room : ${getOneBuildingRooms}">
        <li>
            Building: <span th:text="${room.buildingId}"></span>,
            Floor: <span th:text="${room.floorId}"></span>
        </li>
    </ul>
</div>
<div id="break"></div>
<div id="buildingList">
    <h3>Building List</h3>
    <ul th:each="building : ${buildings}">
        <li>
            <span th:text="${building.name}"></span>
            <span th:text="${building.address}"></span>
            <span th:text="${building.id}"></span>
            <form method="POST" action="#" th:action="@{/deleteBuilding}">
                <input type="hidden" name="id" th:value="${building.id}" />
                <input type="submit" value="Delete" />
            </form>
        </li>
    </ul>
</div>
<div id="roomList">
    <h3>Room List</h3>
    <ul th:each="room : ${rooms}">
        <li>
            Building: <span th:text="${room.buildingId}"></span>,
            Floor: <span th:text="${room.floorId}"></span>
        </li>
    </ul>
</div>
</body>
</html>